In [9]:
dit= dict(student='Atin',rollno='23',course='BCA')#using dict constructor
d1={
    "Employee":"Hari",
    "id":900,
    "set":"super"
}

print(d1)
print(dit)

{'Employee': 'Hari', 'id': 900, 'set': 'super'}
{'student': 'Atin', 'rollno': '23', 'course': 'BCA'}

In [10]:
print(d1["Employee"])

Hari

In [11]:
print(d1.keys())   # Returns all keys
print(d1.values()) # Returns all values
print(d1.items())  # Returns all key-value pairs as tuples

dict_keys(['Employee', 'id', 'set'])
dict_values(['Hari', 900, 'super'])
dict_items([('Employee', 'Hari'), ('id', 900), ('set', 'super')])

In [12]:
temp={
    'luvknow':[25,30,32],
    'Usa':[10,19,17],
    'Chiina':[45,98,45,]
}

print(temp)

{'luvknow': [25, 30, 32], 'Usa': [10, 19, 17], 'Chiina': [45, 98, 45]}

In [16]:
new={
    "name":input("Enter yiuur name"),
    'id':int(input("enter your id:"))
}
print(new)

{'name': 'pp', 'id': 5}

In [18]:
#Accessing vslues
print(d1.get("id"))

900

In [19]:
#add ites in d1

d1['income']=5000
print(d1)

{'Employee': 'Hari', 'id': 900, 'set': 'super', 'income': 5000}

In [23]:
for j,k in d1.items():  #it only prints keys
    print(j+" : "+str(k))

#for j, k in d1.items():
 #   print(f"{j} : {k}")

Employee : Hari
id : 900
set : super
income : 5000

In [28]:
Company={
    'emp01':{
        'name':'manoj',
        'id':'54',
        'salery':40000
    },
    'emp02':{
        'name':'huj',
        'id':'545',
        'salery':550000
    },
    'emp03':{
        'name':'Hima',
        'id':'454',
        'salery':150000
    }
}

print(Company)


for x,y in Company.items():
    print(f"{x} : {y}")

{'emp01': {'name': 'manoj', 'id': '54', 'salery': 40000}, 'emp02': {'name': 'huj', 'id': '545', 'salery': 550000}, 'emp03': {'name': 'Hima', 'id': '454', 'salery': 150000}}
emp01 : {'name': 'manoj', 'id': '54', 'salery': 40000}
emp02 : {'name': 'huj', 'id': '545', 'salery': 550000}
emp03 : {'name': 'Hima', 'id': '454', 'salery': 150000}

In [30]:
from pprint import pprint

In [32]:
pprint(Company)

{'emp01': {'id': '54', 'name': 'manoj', 'salery': 40000},
 'emp02': {'id': '545', 'name': 'huj', 'salery': 550000},
 'emp03': {'id': '454', 'name': 'Hima', 'salery': 150000}}

In [34]:
Company['emp02']['name']

'huj'

In [36]:
print(temp['luvknow'][0])

25

In [ ]:
x=temp['Usa'][0]+temp['Usa'][1]+temp['Usa'][2]

print(" Average temp is : "+str(x/3))

 Average temp is : 15.333333333333334

TypeError: unsupported operand type(s) for +: 'int' and 'list'